html {
  background-image: linear-gradient(90deg, #0c3264, #040d45);
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: #FFD200;
}

.wrapper {
  margin-bottom: 50px;
}

.section {
  width: 75%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  padding: 20px;
  background: linear-gradient(180deg, #0e2377, #ffffff);
  border-radius: 15px;
  border: 5px solid rgb(115, 115, 115);
  filter: drop-shadow(20px 20px 20px black);
}

.MoviePicture {
  width: 35%;
  display: flex;
}

.MoviePicture img {
  margin: auto;
  width: 100%;
  filter: drop-shadow(10px 10px 10px black);
}

.banner {
  margin: auto;
  width: 60%;
}

h2 {
  margin-top: 5px;
  color: #ffffff;
  font-size: 40px;
  filter: drop-shadow(3.5px 3.5px 3.5px black);
}

h3 {
  font-size: 20px;
}

.P {
  border-radius: 15px;
  border: 3.5px solid rgb(3, 33, 97);
  background-color: rgb(55, 89, 149);
  padding: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .5px;
  font-size: 18px;
  font-weight: bold;
}