body{
  margin: 0;
    background:linear-gradient(90deg,#0c3264,#040d45); 
}
.up{
    display:flex;
    flex-direction:row;
    margin:2px;

}


.profile{
    background-image:url(file:///C:/Code/icon/user-icon.png);
    background-color:white;
    background-position:1px;
    width:130px;
    height:130px;
    background-repeat:no-repeat;
    border-radius:200px;
    margin-left:2px;

}
#username{
    color:white;
    font-size:3em;
    margin-left:20px;
    margin:2px;
    padding:10px;
    
}
#email{
    margin-top:2px;
}
.bookingHis{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    height:50px;
    text-align:center;
    color:white;
    background-color:#5c469c;
    padding:20px;
    font-size:2.5em;
    border:2px solid white;
    border-radius:12px;
}
#ticketId{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    height:40px;
    text-align:center;
    color:white;
    background-color:#d4abfc;
    padding:20px;
    font-size:2.5em;
    
    
}
a{
    text-decoration:none;
    color:white; 
}
.mainMenu{
    margin-left:auto;
    margin-right:auto;
    width:20%;
    height:40px;
    text-align:center;
    color:white;
    background-color:#5c469c;
    padding:15px;
    font-size:2.5em;
    margin-top:200px;
    border:3px solid black;
    border-radius:12px;
}















