html {
  background-image: linear-gradient(90deg, #0c3264, #040d45);
}

body {
  margin: 0;
}

.up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
  width: 80%;
}

.info-container {
  display: flex;
}

.profile,
.profile img {
  width: 130px;
  height: 130px;
  border-radius: 200px;
  margin: auto 0;
}

.information {
  margin-left: 20px;
}

#username {
  margin: 20px;
  color: white;
  font-size: 4em;
}

#email {
  margin: 20px;
  color: white;
  font-size: 3em;
}

.bookingHis {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50px;
  text-align: center;
  color: white;
  background-color: #5c469c;
  padding: 20px;
  font-size: 2.5em;
  border: 2px solid white;
  border-radius: 12px;
}

#history-container {
  margin: auto;
  width: 80%;
}

.history {
  text-align: center;
  color: white;
  background-color: #c68dff;
  padding: 20px;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 12px;
  margin-top: 20px;
}

.sign-out {
  display: flex;
}

.sign-out button {
  margin: auto;
  text-align: center;
  width: 200px;
  font-size: 30px;
  padding: 10px;
  color: red;
  background-color: #000000;
  border: 3px solid red;
  border-radius: 15px;
  cursor: pointer;
}

.sign-out button:active {
  transform: scale(.9);
}