html {
  background-image: linear-gradient(90deg, #0c3264, #040d45);
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: #FFD200;
}

#attribute {
  text-decoration: none;
}

#contact-us {
  margin: auto;
  text-align: center;
}

#e-mail p a {
  text-decoration: none;
  color: black;
}

#contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  filter: drop-shadow(20px 20px 20px #040b37);
}

h2,
#address h4 {
  margin: 0px;
}

/*Remove text decoration*/
a {
  text-decoration: none;
  color: black;
}

/*css flexbox*/
#contact-left,
#contact-right {
  background-color: #5C469C;
  margin-left: 20px;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

#content-left {
  flex: 1;
  float: left;
}

#content-right {
  flex: 1.25;
}

/*font edit*/
#description #paragraph {
  color: #FFD200;
}

#tel p,
#description #paragraph,
#cinema-inquiries p {
  font-size: 35px;
}
