html {
  background-image: linear-gradient(90deg, #0c3264, #040d45);
}

body {
  margin: 0;
  color: #FFFFFF;
}

.main-div {
  margin-top: 20px;
}

.banner-swiper {
  width: 100%;
  aspect-ratio: 10/3.5;
}

.banner-swiper .swiper-slide {
  border-radius: 20px;
  margin: auto;
  display: flex;
  width: 90%;
  text-align: center;
  font-size: 18px;
  background: #7700ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-swiper img {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
}

.banner-swiper-next,
.banner-swiper-prev {
  border-radius: 44px;
  background-color: #ffffff52;
  width: 60px;
  height: 60px;
}

h1 {
  font-size: 100px;
  margin: 0%;
}

.banner-items {
  position: absolute;
  left: 5%;
  bottom: 10%;
  display: flex;
}

.banner-items button {
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin: 10px;
  background-color: #FFD200;
  font-size: 30px;
  box-shadow: 0px 0px 15px #000000;
  cursor: pointer;
}

.banner-items button:active {
  transform: scale(.9);
}

/*Newly added*/
#movie-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.movie-list-item {
  height: 500px;
  width: 350px;
}

/*resize image*/
.movie-list-item img {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}

.movie-list-item a {
  background-color: #ffd200;
  color: black;

  text-decoration: none;

  padding: 10px 40px;

  position: relative;
  bottom: 60px;

  border-radius: 20px;

  width: fit-content;
  margin: auto;
  display: none;
}

.movie-list-item:hover a {
  display: flex;
}

.movie-swiper-next,
.movie-swiper-prev {
  border-radius: 44px;
  background-color: #ffffff52;
  width: 60px;
  height: 60px;
}

h2 {
  font-size: 40px;
  color: #FFD200;
  text-align: center;
}

@media screen and (max-width:600px) {
  .banner-swiper {
    height: 300px;
    width: 100%;
  }

  .banner-swiper img{
    height: 100%;
    object-fit: cover;
  }

  .banner-items {
    bottom: 0%;
    flex-direction: column;
  }
  
  .banner-items button {
    margin: auto;
    width: fit-content;
    height: 30px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
  }
}