html {
  background-image: linear-gradient(90deg, #0c3264, #040d45);
}

body {
  margin: 0;
}

.upperSection,
.lowerSection {
  margin-top: 15px;
}

.payment {
  background-image:linear-gradient(90deg,rgb(255, 255, 255),rgb(211, 215, 222));
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 15px;
  border: 8px solid white;
  box-shadow: 20px 20px 20px black;
}

hr {
  width: 100%;
  border: 2px solid #000000;
}

label {
  margin-left:20px;
  margin-top: 10px;
  font-size: 22px;
}

.lowerSection label {
  display: inline-block;
  width: 220px;
}

input,
select {
  box-sizing: border-box;
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid black;
}

.Button {
  margin-top: 10px;
  position: relative;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.payment button {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  width: 170px;
  text-align: center;
  background-color: white;
  color: #0a2851;
  border-radius: 30px;
  margin-top: 15px;
  filter: drop-shadow(3px 3px 3px black);
}

.payment button:active {
  transform: scale(.9);
}

.payment button:focus {
  outline: none;
}

#option {
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
}