html {
  background-image: linear-gradient(90deg, #0c3264, #040d45);
}

body {
  margin: 0;
  color: #FFFFFF;
}

.wrapper {
  margin-top: 100px;
}

.top {
  background-color: #1d267d;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.screen {
  background-color: #1d267d;
  color: white;
  border-top: 2px solid white;
  width: 80%;
  text-align: center;
  font-size: 2em;
}

h1 {
  margin-top: 2px;
}

.exit {
  background-color: #28c878;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  width: 40px;
  height: 200px;
  font-size: 2em;
}

.stair {
  border: 1px solid white;
  width: 50px;
  height: 50px;
}

table {
  margin: auto;
  text-align: center;
}

hr {
  border: dashed;
  color: white;
  width: 100%;
  size: 1px;
}

.font {
  color: white;
  margin: 20px;
  font-size: 1.5em;
}

.bottom {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seat,
.example-seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-size: contain;
}

.green {
  background-image: url('/image/seat-green.png');
}

.blue {
  background-image: url('/image/seat-light-blue.png')
}

.red {
  background-image: url('/image/seat-red.png');
}

.grey {
  background-image: url('/image/seat-light-grey.png');
}

.next {
  background-color: #717273;
  color: white;
  font-size: 2em;
  width: 100px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width:1000px) {

 .screen {
    width: auto;
  }

  .font {
    margin: 0px;
    margin-top: 10px;
    font-size: 1em;
  }

  .seat,
  .example-seat {
    width: 30px;
    height: 30px;
  }

  .stair {
    width: 30px;
    height: 30px;
  }

  .next {
    font-size: 1em;
    width: 70px;
    height: 30px;
  }

}